<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crawler</title>
  <script src="js/script.js"></script>
</head>
<body>
<div>
  <form id="crawlerForm">
    <input type="text" name="startPage" placeholder="Seed"/>
    <input type="text" name="deep" placeholder="Deep"/>
    <input type="text" name="maxPages" placeholder="Max Pages"/>
    <input type="text" name="words" placeholder="Words">
    <input type="submit" value="Start">
  </form>
</div>
<div>
  <text id="result"></text>
</div>

</body>
</html>